<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emailfilterservice">

    <application
        android:allowBackup="true"
        android:label="emailfilterservice"
        android:supportsRtl="true">
        <service
            android:name=".EmailService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.emailfilterservice.EmailService.INTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
